.slideshow-container { 
    width: 980px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFF;
    border-right: 1px solid #d3d3d3;
    border-left: 1px solid #d3d3d3;
}

.slideshow-container * { 
    box-sizing: border-box;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.mySlides {
    display: none;
    align-content: center;
    height:  500px;
}
.photo1 {
    background: url('1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.photo2 {
    background: url('2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.photo3 {
    background: url('3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.photo4 {
    background: url('4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.photo5 {
    background: url('5.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

